<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Filter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='front.js') }}"></script> <!-- Link to JS file -->

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">NYC Job Data</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('other_page') }}">DOB NOW Jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Filter NYC Job Data</h1>
        <p>This website shows a list of DOB jobs that are fully permitted. It does not include
            jobs that have been completed, or that were rejected/denied</p>

        <form method="POST">
            <label for="date_filter">Select Date:</label>
            <input type="date" id="date_filter" name="date_filter" value="{{ selected_date }}">
            <br><br>
            <label for="boroughs">Select Boroughs:</label>
            <select id="boroughs" name="boroughs" multiple>
                {% for borough in boroughs %}
                <option value="{{ borough }}" {% if borough in selected_boroughs %}selected{% endif %}>{{ borough }}
                </option>
                {% endfor %}
            </select>
            <br><br>

            <div class="dropdown">
                <button class="dropbtn">Select Keywords</button>
                <div class="dropdown-content">
                    {% for category, words in keyword_dict.items() %}
                    <strong>{{ category }}</strong><br>
                    {% for word in words %}
                    <label>
                        <input type="checkbox" name="description_keywords" value="{{ word.lower() }}" {% if word.lower()
                            in selected_keywords %}checked{% endif %}>
                        {{ word }}
                    </label><br>
                    {% endfor %}
                    <hr>
                    {% endfor %}
                </div>
            </div>
            <br><br>
            <label for="contractor_name">Contractor's Business Name:</label>
            <select id="contractor_name" name="contractor_name">
                <option value="">All</option>
                {% for contractor in contractor_names %}
                <option value="{{ contractor }}" {% if contractor==selected_contractor_name %}selected{% endif %}>{{
                    contractor }}</option>
                {% endfor %}
            </select>
            <br><br>

            <label for="job_status">Select Job Status:</label>
            <select id="job_status" name="job_status">
                <option value="">All</option>
                {% for status in job_statuses %}
                <option value="{{ status }}" {% if status==selected_job_status %}selected{% endif %}>{{ status }}
                </option>
                {% endfor %}
            </select>
            <br><br>

            <input type="submit" value="Filter">
        </form>
        <h2>Filtered Data</h2>
        <div class="table-container">
            <table id="myTable" border="1">

                <tr>
                    <th>Job #</th>
                    <th>Owner's Name</th>
                    <th>Contractor's Name</th>
                    <th>Contractor's Business Name</th>
                    <th>Contractor's Phone #</th>
                    <th>Job Address</th>
                    <th onclick="sortTable(0)">Filing Date</th> <!-- Clickable header for sorting -->
                    <th>Borough</th>
                    <th>Job Status</th>
                    <th>Job Description</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row["Job #"] }}</td>
                    <td>{{ row["Owner Name"] }}</td>
                    <td>{{ row ["Permittee's Name"] }}</td>
                    <td>{{ row["Permittee's Business Name"] }}</td>
                    <td>{{ row["Permittee's Phone #"] }}</td>
                    <td>{{ row["Job Address"] }}</td>
                    <td>{{ row["Filing Date"] }}</td>
                    <td>{{ row["Borough"] }}</td>
                    <td>{{ row["Job Status Descrp"] }}</td>
                    <td>{{ row["Job Description"] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>